<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amenazas tras arresto de venezolanos en Quinta Normal</title>
    <link rel="stylesheet" href="../staticCSS/noticias.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!--a implementar cosas únicas de la página :-3-->
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:3000/Prog Web 2.0/principal.html">Colectivos de Noticias</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://127.0.0.1:3000/Prog Web 2.0/principal.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Noticias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="http://127.0.0.1:3000/Prog Web 2.0/deportes/noticia_furbo.html">Deportes</a>
                            <a class="dropdown-item" href="http://127.0.0.1:3000/Prog Web 2.0/internacional/noticia_incendio.html">Internacional</a>
                            <a class="dropdown-item" href="http://127.0.0.1:3000/Prog Web 2.0/nacional/noticia_carabinero.html">Nacional</a>
                            <a class="dropdown-item" href="http://127.0.0.1:3000/Prog Web 2.0/politica/noticia_gobierno.html">Política</a>
                            <a class="dropdown-item" href="http://127.0.0.1:3000/Prog Web 2.0/deportes/noticia_esport.html">E-Sports</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:3000/Prog Web 2.0/contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:3000/Prog Web 2.0/carrito.html">Suscripción</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>


    <!--NOTICIA-->
    <div class="container" id="articulo-noticia">
        <div id="articulo-noticia">
            <!--Fecha, ubicación y autor-->
            <p id="fecha">01/04/2024 - Chile</p>
            <div id="autor-noticia">
                <img class="imagen-circular" alt="Foto de Autor de Noticia" src="https://square-vn.com/app/dscms/assets/images/person-1.jpg">
                <p id ="fecha">Hecho por:</p>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="MAURICIO JOSE ha hecho 2 artículos en total">
                    <a id="fecha" href="Autor-Mauricio">Mauricio Jose</a>
                </span>
            </div>
            <!--Título y Subtítulo-->
            <h3>Amenazas tras arresto de venezolanos en Quinta Normal</h3>
            <h6>Tensión en comisaría y medidas de seguridad intensificadas.</h5>
            <hr>
            <!--Imagen Noticia y Cuerpo-->
            <img class="img-fluid" id="img-noticia" src="../imagenes/noticia_carabinero.png">
            <p id="subtitulo-img">Arresto de venezolanos desata indignación en redes sociales y repudio hacia los detenidos.</p>
            <p>Un individuo, cuya identidad permanece desconocida, contactó a la estación policial declarando que <b>“los tres venezolanos son inocentes”</b>, exigiendo su pronta liberación. Añadió que, de no acatar esta demanda, se ejecutaría <b>“un ataque en la zona”</b>.</p>
        <p>En un suceso que ha elevado la tensión en la comuna de Quinta Normal, alrededor de las 13:00 horas de este jueves, la 22ª Comisaría de Carabineros se vio envuelta en una situación de alarma tras recibir amenazas durante el proceso de diligencia y arresto de tres ciudadanos venezolanos implicados en el homicidio del teniente Emmanuel Sánchez.</p>
        <p>Información recabada por el medio 24 Horas sugiere que estos mensajes intimidatorios podrían estar relacionados con la aprehensión de Yolvi González, Wilber Olivares y Josué Ramírez, quienes han sido señalados como responsables directos en el asesinato del oficial de policía y serán formalizados en la tarde.</p>
        <p>Ante tales amenazas, los Carabineros procedieron a intensificar las medidas de seguridad tanto dentro como en los alrededores de la comisaría, incluyendo la llegada de vehículos blindados para reforzar la protección del lugar.</p>
        <p>Es relevante mencionar que este incidente de intimidación se produjo justo después de que los sujetos en cuestión fueran trasladados al Centro de Justicia para proceder con el procedimiento correspondiente.</p>
        <p>El incidente fue perpetrado por banda venezolana La noche de ayer, Sánchez se encontraba en su auto con su familia cuando fue víctima de una balacera en medio de una encerrona en el tránsito. El funcionario al decir que era Carabinero logró que un par de sujetos se fugaran -en moto-, pero al acercarse al vehículo de los delincuentes, desenfundando su arma de servicio, estos le dispararon provocándole la muerte.</p>
        <p>Asimismo el Carabinero logró herir a uno de los sujetos, dando con el mismo resultado.</p>
        <p>La investigación del Ministerio Público y Carabineros ha confirmado que todos los implicados en el homicidio son venezolanos. La víctima fatal del grupo delictual, identificada como Julio González Vargas, tenía entrada irregular al país y una orden de expulsión desde 2020.</p>
        <p>Entre los detenidos: <b>Yolvi González</b>, buscababa “hacer plata” según sus redes sociales, <b>Yosue Ramírez</b>, cuenta con antecedentes por receptación y es residente de la misma toma en Maipú donde asesinaron al teniente venezolano Ronald Ojeda; y por último, <b>Wilber Olivares</b>, también tiene antecedentes.</p>
        <p>De los seis sospechosos iniciales, dos permanecen prófugos, con esfuerzos en curso para su captura.</p>
        <p>Reacciones al crimen contra Emmanuel Sánchez Carabineros han descrito a los tres venezolanos arrestados por el homicidio del teniente como <b>“lacras de la sociedad”</b>.</p>
        <p>El general Marcelo Lepín, jefe de la Zona Metropolitana, elogió la conducta del funcionario policial, mencionando que fue <b>“destacable la acción del teniente que, fuera de su horario de servicio, observó una actividad sospechosa y tomó medidas para proteger al público”</b>.</p>
        <p>“Nosotros enfrentamos día a día a esta <b>lacra de la sociedad</b>, pero pese a ello el teniente no dudó en intentar detener a la persona. Es la actitud de la cual estamos enfrentando día a día. El crimen organizado no teme enfrentar a la prensa, Carabineros y menos a la ciudadanía”, aseveró.</p>
        <p>Por otra parte, en redes sociales se incendió el repudio hacia el crimen, dado a que los detenidos fueron trasladados a rostro descubierto, siendo grabados por televisión con semblantes desafiantes y sonrisas, sobre todo por parte de <b>Yolvi González</b>.</p>
            <hr>
            <!--CATEGORÍAS-->
            <p id="fecha">Categoría:</p>
            <a id="fecha" href="Categoria-Nacional">Nacional</a>
            <hr>
            
            <!--NOTICIAS RELEVANTES (falta configurar el size de las img para q todo sea uniforme lel)-->
            <div>
                <h3>Noticias relevantes</h3>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                      <div class="card">
                        <img id="img-card" src="../imagenes\Screenshot 2024-04-11 221545.png" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="noticia_mascotas.html" style="color:black"><h5 class="card-title">Nombres comunes de perros y gatos en Chile</h5></a>
                          <p class="card-text">El proyecto de Ley Duque propone otorgar un día libre a quienes pierdan una mascota, destacando el papel significativo de los animales domésticos en las familias. Además, se reporta que hay más de dos millones y medio de perros y gatos registrados en el país.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img id="img-card" src="../imagenes\noticia_incendio.webp" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="..\internacional\noticia_incendio.html" style="color:black"><h5 class="card-title">Incendio en Kowloon, Hong Kong: Cinco Personas Muertas y Decenas de Heridos</h5></a>
                          <p class="card-text">Un incendio en un edificio residencial en el distrito de Kowloon, Hong Kong, dejó al menos cinco muertos y 33 heridos. El fuego, de categoría tres, fue controlado por los bomberos después de una hora. </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img id="img-card" src="../imagenes\noticia_fulbo.jpg" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="..\deportes\noticia_furbo.html" style="color:black"><h5 class="card-title">Colo Colo cae frente a Fluminense en Copa Libertadores</h5></a>
                          <p class="card-text">Colo Colo cae 2-1 ante Fluminense en Copa Libertadores. A pesar del empate momentáneo, no pueden evitar la derrota. Con tres puntos, mantienen esperanzas de clasificar.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img id="img-card" src="../imagenes\noticia_prestamo.jpg" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="noticia_prestamo.html" style="color:black"><h5 class="card-title">El Préstamo Solidario durante la pandemia del Covid-19</h5></a>
                          <p class="card-text">Este, en respuesta estatal a la pandemia, sigue su pago en 2024. Consulta de deuda en el sitio web. Reembolso en cuatro cuotas ajustadas al IPC, variando según año de solicitud.</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    

        


    <!-- Footer -->
    <footer class="bg-dark text-light mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Noticias y Reportajes</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Contacto: colectivosnoricias@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
            })
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>