<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS e Iconos-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block title %}Listado de Noticias{% endblock %}

    
        <!-- Navbar -->
        <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

            <div class="container">
                <a class="navbar-brand" href=" ">Colectivos de Noticias</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto navegacion">
                        <li class="nav-item active">
                            <a class="nav-link" href=" ">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Noticias
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'noticia_furbo' %}">Deportes</a>
                                <a class="dropdown-item" href="{% url 'noticia_incendio' %}">Internacional</a>
                                <a class="dropdown-item" href="{% url 'noticia_carabinero' %}">Nacional</a>
                                <a class="dropdown-item" href="{% url 'noticia_gobierno' %}">Política</a>
                                <a class="dropdown-item" href="{% url 'noticia_esport' %}">E-Sports</a>
                            </div>
    
                            <li class="nav-item">
                                <a class="nav-link" href="/contacto">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/carrito">Suscripción</a>
                            </li>
    
                        <!-- Cuadro de búsqueda -->
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0 ml-3" action="/buscar" method="GET">
                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="q">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                            </form>
                        </li>
                        <!-- Mensaje de bienvenida al usuario -->
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="#">Buenas Tardes Sr , {{user.username}}</a> 
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">Inicio Sesión</a>
                            {% endif %}
                        </li>
    
                        <!-- Cerrar Sesión -->
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                            {% else %}
                                <a class="nav-link disabled" href="{% url 'logout' %}">Cerrar Sesión</a>
                            {% endif %}
                        </li>
    
                    </ul>
                </div>
            </div>
        </nav>
 
        
    {% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">

                {% if noticia %}

                <h2 class="text-center mb-4">Formulario CRUD de Noticias</h2>

                <form action="" method="POST">
                    {% csrf_token %}

                    <!-- Campos para ingresar -->
                    {{ form.as_p }}

                    <!-- Botón de envío -->
                    <input type="submit" name="opcion" value="Actualizar" class="btn btn-primary" >

                </form>
                <br>
                {% endif %}
                <div id="idMensajes">
                    {% if mensaje %}
                    {{mensaje}}
                    {% endif %}
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
    {% endblock %}

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>