https://www.elmostrador.cl/noticias/mundo/2024/04/09/plagas-de-ratas-y-cucarachas-invaden-hospitales-publicos-de-reino-unido/
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../staticCSS/noticias.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Colectivos de Noticias</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                        <!-- Agrega más opciones de navegación según tu necesidad -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="cuerpo-noticia">
        <p id="fecha" style="margin-right: 40%;">02/03/2024 - Chile, Valparaíso</p>
        <img class="imagen-circular" alt="Foto de Autor de Noticia" src="https://square-vn.com/app/dscms/assets/images/person-1.jpg">
        <p id ="fecha">Mauricio José | periodista.</p>
        <div class="imagen-noticia">
            <img src="{% static 'imagenes/noticia_hospital.webp' %}" alt="noticia_hospital">
        </div>
        <h2>Reporte sobre plagas en hospitales de Inglaterra</h2>
        <p>Un reporte publicado por el diario <b>The Guardian</b> da cuenta de <b>roedores en salas de parto</b>, <b>gusanos en una morgue</b>, y otras plagas graves.</p>
        <p><b>Ratas, hormigas y cucarachas</b>: los hospitales de Inglaterra se quejan de una invasión de roedores y alimañas. En los últimos tres años se han reportado más de <b>18.000 problemas de plagas</b> en las clínicas del <b>NHS</b>. Así lo informó el martes el periódico <b>The Guardian</b> citando datos recopilados por la oposición <b>Liberal Demócrata</b>. Sólo 59 de las 142 organizaciones patrocinadoras del <b>NHS</b> respondieron a las solicitudes, por lo que el problema probablemente sea mucho mayor.</p>
        <p>Los incidentes reportados incluyeron <b>ratas en salas de maternidad</b>, <b>gusanos en una morgue</b> y <b>roedores en la cocina</b>. Una clínica informó que todo un edificio estaba infestado de moscas y que se podían escuchar ruidos de animales provenientes de las paredes. En otro hospital se encontraron <b>heces de rata en bolsas para cadáveres</b>, así como una <b>paloma muerta sin cabeza</b>.</p>
        <p>Se dijo que el coste de rectificar los problemas ascendía a más de <b>3 millones de libras esterlinas</b> (3,5 millones de euros).</p>
        <h3>Salud pública en crisis</h3>
        <p>El <b>Servicio Nacional de Salud (NHS)</b> se considera crónicamente insuficientemente financiado y mal pagado. Los pacientes se quejan de largos tiempos de espera. El líder de los <b>demócratas liberales</b>, <b>Ed Davey</b>, habló de condiciones espantosas. «Hay que proteger a los pacientes de insectos y roedores. En cambio, las salas médicas se están derrumbando y las plagas desagradables campean libremente”, dijo Davey. “Este es un escándalo nacional”.</p>
        <p>El gobierno conservador ha dejado que el <b>NHS</b> decaiga. El <b>Ministerio de Salud de Londres</b> culpó a los hospitales. El gobierno ha puesto a disposición sumas importantes para modernizar los edificios del <b>NHS</b> y crear las condiciones necesarias para los empleados.</p>
    </div>
    <footer class="bg-dark text-light mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Noticias y Reportajes</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Contacto: colectivosnoricias@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>