{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incendio en distrito de Kowloon, Hong Kong</title>
    <link rel="stylesheet" href="../staticCSS/noticias.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!--a implementar cosas únicas de la página :-3-->
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <div class="container">
            <a class="navbar-brand" href="{% url 'principal' %}">Colectivos de Noticias</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto navegacion">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'principal' %}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Noticias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/noticias/deportes/noticia_furbo">Deportes</a>
                            <a class="dropdown-item" href="/noticias/internacional/noticia_incendio">Internacional</a>
                            <a class="dropdown-item" href="/noticias/nacional/noticia_carabinero">Nacional</a>
                            <a class="dropdown-item" href="/noticias/politica/noticia_gobierno">Política</a>
                            <a class="dropdown-item" href="/noticias/deportes/noticia_esport">E-Sports</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carrito">Suscripción</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--NOTICIA-->
    <div class="container" id="articulo-noticia">
        <div id="articulo-noticia">
            <!--Fecha, ubicación y autor-->
            <p id="fecha">13/04/2024 - China</p>
            <div id="autor-noticia">
                <img class="imagen-circular" alt="Foto de Autor de Noticia" src="https://square-vn.com/app/dscms/assets/images/person-2.jpg">
                <p id ="fecha">Hecho por:</p>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="LAURA DONOSO ha hecho 3 artículos en total">
                    <a id="fecha" href="Autor-Laura">Laura Donoso</a>
                </span>
            </div>
            <!--Título y Subtítulo-->
            <h3>Incendio en distrito de Kowloon, Hong Kong</h3>
            <h6>Tragedia en Kowloon: Incendio fatal deja víctimas y heridos en Hong Kong</h6>
            <hr>
            <!--Imagen Noticia y Cuerpo-->
            <img class="img-fluid" id="img-noticia" src="{% static 'imagenes/noticia_incendio.webp' %}">
            <p id="subtitulo-img">Despliegue de emergencia: Bomberos luchan contra el fuego mientras la comunidad de Kowloon enfrenta el caos y la desesperación</p>
            <p>Decenas de personas fueron llevadas a los hospitales tras ser rescatadas del gran inmueble en llamas en el distrito de Kowloon.</p>
            <p>Un incendio de un edificio residencial del populoso distrito hongkonés de Kowloon que se desató a primera hora de la mañana del miércoles (10.04.2024) se cobró la vida de al menos <b>cinco personas</b> y dejó unos <b>33 heridos</b>.</p>
            <p>Los bomberos de Hong Kong acudieron al edificio New Lucky House tras recibir una llamada sobre el incendio a las 7.53 horas locales (01.53 CET), según las autoridades.</p>
            <p>Tres hombres y dos mujeres murieron en el inmueble ubicado en el cruce de las calles Jordan y Nathan, donde se escucharon explosiones y se vio una espesa columna de humo envolviendo el bloque afectado, dijo la Policía hongkonesa.</p>
            <p>El devastador fuego, de categoría tres en el sistema de cinco grados de la ciudad, fue sofocado a las 8:54 (02:54 CET), mientras se interrumpía el tráfico en esta zona de viviendas y oficinas ubicada frente al centro financiero de la ciudad, dejando conmocionada a la comunidad afectada.</p>
            <h3>Escenas de caos y desesperación</h3>
            <p>Los bomberos lograron rescatar a personas atrapadas en el interior del inmueble con una escalera desde un camión, mientras se vivieron escenas de <b>caos y desesperación</b>, con residentes que agitaron toallas blancas desde las ventanas para solicitar auxilio, según el rotativo hongkonés South China Morning Post.</p>
            <p>El New Lucky House tiene <b>200 unidades</b> y fue construido en 1964.</p>
            <p>De acuerdo con la autoridad policial, hasta las 11:15 de la mañana (03:15 GMT), cinco personas perdieron la vida en el siniestro, mientras que unas <b>33 resultaron heridas</b> y fueron trasladadas a cuatro hospitales para recibir tratamiento.</p>
            <p>La Policía aún no han confirmado el punto exacto de origen del devastador incendio, si bien múltiples informes de medios locales sugieren que pudo ser en un hostal ubicado en la primera planta del edificio, mientras que otras fuentes indican que su inicio tuvo lugar en un gimnasio.</p>
            
            <hr>
            <!--CATEGORÍAS-->
            <p id="fecha">Categoría:</p>
            <a id="fecha" href="Categoria-Internacional">Internacional</a>
            <hr>
            
            <!--NOTICIAS RELEVANTES (falta configurar el size de las img para q todo sea uniforme lel)-->
            <div>
                <h3>Noticias relevantes</h3>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                    <div class="card">
                        <img id="img-card" src="{% static 'imagenes/noticia_carabinero.png' %}" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="..\nacional\noticia_carabinero.html" style="color:black"><h5 class="card-title">Amenazas tras arresto de venezolanos en Quinta Normal</h5></a>
                        <p class="card-text">Amenazas tras arresto de venezolanos en Quinta Normal desatan tensión. Carabineros intensifican seguridad. Arrestados vinculados al homicidio del teniente Emmanuel Sánchez. Indignación en redes sociales.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card">
                        <img id="img-card" src="{% static 'imagenes/noticia_prestamo.jpg' %}" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="..\nacional\noticia_prestamo.html" style="color:black"><h5 class="card-title">El Préstamo Solidario durante la pandemia del Covid-19</h5></a>
                        <p class="card-text">Este, en respuesta estatal a la pandemia, sigue su pago en 2024. Consulta de deuda en el sitio web. Reembolso en cuatro cuotas ajustadas al IPC, variando según año de solicitud.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card">
                        <img id="img-card" src="{% static 'imagenes/noticia_fulbo.jpg' %}" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="..\deportes\noticia_furbo.html" style="color:black"><h5 class="card-title">Colo Colo cae frente a Fluminense en Copa Libertadores</h5></a>
                        <p class="card-text">Colo Colo cae 2-1 ante Fluminense en Copa Libertadores. A pesar del empate momentáneo, no pueden evitar la derrota. Con tres puntos, mantienen esperanzas de clasificar.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card">
                        <img id="img-card" src="{% static 'imagenes/Screenshot 2024-04-11 221545.png' %}" class="card-img-top" alt="Noticia">
                        <div class="card-body">
                            <a href="..\nacional\noticia_mascotas.html" style="color:black"><h5 class="card-title">Nombres comunes de perros y gatos en Chile</h5></a>
                        <p class="card-text">El proyecto de Ley Duque propone otorgar un día libre a quienes pierdan una mascota, destacando el papel significativo de los animales domésticos en las familias. Además, se reporta que hay más de dos millones y medio de perros y gatos registrados en el país.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Footer -->

    <footer class="bg-dark text-light mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Noticias y Reportajes</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Contacto: colectivosnoricias@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
            })
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>